.travels {
  padding: 20px 0;

  .result-search {
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    -moz-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    -o-transform: translateX(-25%);
    .search-result {
      padding-top: 15px;
    }
    .result-nav {
      ul {
        li {
          border-right: 1px solid #ccc;
          padding-right: 10px;

          &:last-child {
            border-right: none;
          }
        }
      }
    }

    .accordion-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      padding-left: 0;
      &::after {
        background-color: #41d3ff;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
    }
    .accordion-body {
      position: absolute;
      top: 88%;
      left: -117.1%;
      width: 100vw;
      max-height: 0;
      transition: max-height 1s ease-in-out;

      .flight-search-box {
        position: absolute;
        width: 100%;
        background-color: #fff;
        padding: 20px;
        overflow: hidden;
        label {
          color: #222;
        }
        .nav-tabs {
          border: 0;
          color: #222;

          :hover {
            border-color: transparent !important;
            cursor: pointer;
          }
          .active {
            background-color: transparent !important;
            border-color: transparent !important;
          }
        }
        .tab-content {
          padding: 10px;
        }
      }
    }
  }
}
