.hero {
  position: relative;
  background-image: url("/images/hero.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: background-image 0.3s ease-in-out;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0 50px 0;

  .flight-search-box {
    position: relative;
    width: 70%;
    max-width: 900px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    label {
      color: #222;
    }
    .nav-tabs {
      border: 0;
      color: #222;

      :hover {
        border-color: transparent !important;
        cursor: pointer;
      }
      .active {
        background-color: transparent !important;
        border-color: transparent !important;
      }
    }
    .tab-content {
      padding: 10px;
    }
  }

  @media screen and (max-width: 767px) {
    .flight-search-box {
      top: 25%;
      width: 90%;
    }
  }
}
