.multi-city {
  .multi-title {
    h5 {
      font-weight: bold;
    }
  }
  .trips {
    margin: 40px 0;
    label {
      margin-bottom: 5px;
      text-transform: capitalize;
    }
    .add-trip {
      margin: 20px 0;
      .btn-dark {
        background-color: transparent;
        color: #000;
        border-color: #000;
        width: 15%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
    }
    .after-trip {
      display: flex;
      justify-content: center;
      align-items: center;
      .btn-dark {
        margin-top: 30px;
        background-color: transparent;
        color: #222;
        border-color: #222;
        width: 20%;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        height: 45px;
      }
    }
  }
}
